article {
	@include rems(max-width, 80);
	margin: 0 auto;
	&.page {
		border-top: 5px solid $dark-blue;
		@include rems(max-width, 900);
		background: #fff;
		@include rems(padding, 8);
		@media #{$tablet-portrait} {
			@include rems(padding, 8);
		}
		@media #{$phone} {
			@include rems(padding, 2);
		}
	}
	.single-post & {
		border-top: 5px solid $dark-blue;
		background: #fff;
		@include rems(max-width, 900);
		.blog-feature {
			@include rems(height, 40);
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			& > div {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
				justify-content: center;
				& > div {
					width: 100%;
					margin: 0 auto;
				}
			}
		}
		.post-meta {
			color: #fff;
			text-align: center;
			span {
				@include rems(margin, 0, 2);
			}
			a {
				color: #fff;
			}
		}
	}
	.article-body {
		@include rems(padding, 8);
		@media #{$tablet-portrait} {
			@include rems(padding, 8);
		}
		@media #{$phone} {
			@include rems(padding, 2);
		}
	}
}
