.feature-post {
	background: #fff;
	border-top: 5px solid $dark-blue;
	@include clearfix;
	display: flex;
	align-items: center;
	margin-bottom: 3%;
	@media #{$phone} {
		display: block;
		margin-bottom: 5%;
	}
	aside {
		@include box;
		&.feature {
			width: 40%;
			@media #{$phone} {
				width: 100%;
			}
			img {
				display: block;
			}
		}
		&.excerpt {
			width: 60%;
			@include rems(padding, 3);
			@media #{$tablet-portrait} {
				@include rems(padding, 2);
			}
			@media #{$phone} {
				width: 100%;
				@include rems(padding, 2);
			}
			h2 {
				@include font-size(3, 3.6);
				@include rems(margin-bottom, 4);
				@media #{$tablet-portrait} {
					@include rems(margin-bottom, 2);
				}
				@media #{$phone} {
					@include font-size(2, 2.6);
					@include rems(margin-bottom, 2);
				}
				a {
					color: $dark-blue;
					text-decoration: none;
				}
			}
			.excerpt-clip {
				overflow: hidden;
				@include font-size(1.8, 2.5);
				@include rems(margin-bottom, 4);
				@include rems(max-height, 17.5);
				@media #{$tablet} {
					@include rems(max-height, 12.5);
				}
				@media #{$tablet-portrait} {
					@include rems(max-height, 7.5);
					@include rems(margin-bottom, 2);
				}
			}
		}
	}
}
.post-list {
	@include clearfix;
	li {
		@include rowMachine(4, 3%);
		@media #{$phone} {
			@include rowMachine(2, 5%);
		}
	}
}
.post-meta {
	@include font-size(1.4, 2);
	@include clearfix;
	article & {
		@include rems(margin-bottom, 4);
	}
	span {
		@include rems(margin-right, 2);
		a {
			color: $body;
			text-decoration: none;
		}
		i {
			@include rems(margin-right, 0.5);
		}
		&:last-child {
			margin-right: 0;
		}
		@media #{$tablet-portrait} {
			display: block;
			float: left;
			@include rowMachine(2, 1%);
		}	
		@media #{$phone} {
			display: block;
			float: none;
			width: auto;
			@include rems(margin-bottom, 0.5);
			&:nth-child(2n+1):nth-last-child(-n+2),
  			&:nth-child(2n+1):nth-last-child(-n+2) ~ * {
  				@include rems(margin-bottom, 0.5);
  			}
		}
		article & {
			@media #{$tablet-portrait} {
				float: none;
				display: inline;
				width: auto;
				@include rems(margin-right, 2);
				&:nth-child(2n) {
					@include rems(margin-right, 2);
				}
			}
			@media #{$phone} {
				display: block;
			}
		}
	}
}
.post-nav {
	@include rems(margin-top, 4);
	@include clearfix;
	span {
		display: block;
		&.previous {
			float: left;
			i {
				@include rems(margin-right, 1);
			}
		}
		&.next {
			float: right;
			i {
				@include rems(margin-left, 1);
			}
		}
	}
	
	a {
		color: $body;
		text-decoration: none;
	}
}
