li {
	&.excerpt {
		float: left;
		position: relative;
		overflow: hidden;
		h4 {
            font-family: $gotham-medium;
            @include font-size(1.8, 2.5);
            color: #fff;
            @include rems(margin-bottom, 4);
            &.fixed-title {
                @include rems(top, 2);
                @include rems(left, 2);
                position: absolute;
                z-index: 5;
                a {
                    display: inline;
                    text-decoration: none;
                }
                i {
                	@include rems(margin, 0.3, 1, 5, 0);
                	float: left;
                }
            }
            @media #{$phone} {
            	display: none;
            }
        }
		img {
			display: block;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			color: #fff;
		}
		h3 {
			font-family: $gotham-book;
			@include font-size(2.2, 2.6);
			color: #fff;
		}
		.overlay {
			background: rgba(0, 0, 0, 0.3);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			@include rems(padding, 2);
			@include box;
			transition: 0.4s all ease;
			color: #fff;
			@media #{$phone} {
				display: none;
			}
			.overlay-content {
				.no-flexbox & {
					position: absolute;
					@include rems(bottom, 2);
					@include rems(left, 2);
					@include rems(right, 2);
				}
			}
		}
		&:hover {
			.overlay {
				background: rgba(0, 0, 0, 0.7);
			}
		}
	}
}
