@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandlight';
    src: url('fonts/quicksand/quicksand-light-webfont.eot');
    src: url('fonts/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-light-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand-light-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham-book';
    src: url('fonts/gotham/Gotham-Book.eot');
    src: url('fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Book.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Book.woff') format('woff'),
         url('fonts/gotham/Gotham-Book.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book-italic';
    src: url('fonts/gotham/Gotham-BookItalic.eot');
    src: url('fonts/gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-BookItalic.woff2') format('woff2'),
         url('fonts/gotham/Gotham-BookItalic.woff') format('woff'),
         url('fonts/gotham/Gotham-BookItalic.ttf') format('truetype'),
         url('fonts/gotham/Gotham-BookItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-medium';
    src: url('fonts/gotham/Gotham-Medium.eot');
    src: url('fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Medium.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Medium.woff') format('woff'),
         url('fonts/gotham/Gotham-Medium.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-light';
    src: url('fonts/gotham/Gotham-Light.eot');
    src: url('fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Light.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Light.woff') format('woff'),
         url('fonts/gotham/Gotham-Light.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-extra-light';
    src: url('fonts/gotham/Gotham-ExtraLight.eot');
    src: url('fonts/gotham/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-ExtraLight.woff2') format('woff2'),
         url('fonts/gotham/Gotham-ExtraLight.woff') format('woff'),
         url('fonts/gotham/Gotham-ExtraLight.ttf') format('truetype'),
         url('fonts/gotham/Gotham-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/gotham/Gotham-Bold.eot');
    src: url('fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Bold.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Bold.woff') format('woff'),
         url('fonts/gotham/Gotham-Bold.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Variables */

$gotham-book: 'gotham-book', $light;
$gotham-book-italic: 'gotham-book-italic', $light;
$gotham-medium: 'gotham-medium', $light;
$gotham-light: 'gotham-light', $light;
$gotham-extra-light: 'gotham-extra-light', $light;
$gotham-bold: 'gotham-bold', $bold;

$quicksand: 'quicksandregular', $regular;
$quicksand-light: 'quicksandlight', $light;
