footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	.footer-main {
		background: #333;
		@include rems(padding, 1, 0);
		color: #fff;
		@include font-size(1.4, 2.2);
		.container {
			display: flex;
			align-items: center;
		}
	}
	aside {
		@include clearfix;
		width: 50%;
		ul {
			float: right;
			@include clearfix;
			li {
				float: left;
				@include rems(margin-right, 1);
				@include font-size(2, 2.2);
				a {
					color: #fff;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
.footer-cta {
	@include vertical-grad($dark-blue, $light-blue);
	text-align: center;
	a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-family: $quicksand;
		@include rems(padding, 1, 4);
		border: 2px solid #fff;
		@include font-size(2, 2);
		@include border-radius(22px);
		@include border-radius(2.2rem);
		transition: 0.4s all ease;
		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}
