body {
	color: #7d7d7d;
	@include font-size(2, 3);
	font-family: $gotham-book;
	background: #eee;
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
	}
	&.narrow {
		@include rems(max-width, 80);
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
