header {
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
	.container {
		@include rems(max-width, 500);
		display: flex;
		align-items: center;
		@media #{$phone} {
			display: block;
		}
		aside {
			width: 50%;
			@include clearfix;
			@media #{$phone} {
				width: 100%;
				text-align: center;
			}
		}
	}
	h1, h2 {
		@include font-size(2.4, 2.4);
		font-family: $quicksand;
		@include rems(padding, 1, 0);
		a {
			text-decoration: none;
			color: $body;
		}
	}
}
