.home-feature {
	background: rgba(0, 0, 0, 0.4);
	.container {
		@include rems(height, 60);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media #{$phone} {
			@include rems(height, 30);
			width: 100%;
		}
	}
	h2 {
		font-family: $quicksand-light;
		@include font-size(10, 10);
		color: #fff;
		text-align: center;
		@include rems(margin-bottom, 4);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		@media #{$tablet-portrait} {
			@include font-size(8, 8);
		}
		@media #{$phone} {
			@include font-size(4, 4);
			font-family: $quicksand;
		}
	}
	.feature-buttons {
		width: 100%;
		text-align: center;
		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			font-family: $quicksand;
			@include rems(padding, 1, 4);
			border: 2px solid #fff;
			@include font-size(2, 2);
			@include border-radius(22px);
			@include border-radius(2.2rem);
			transition: 0.4s all ease;
			@include rems(margin, 0, 2);
			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
}
.home-content {
	background: #fff;
}
