nav {
	header & {
		float: right;
		@include clearfix;
		@media #{$phone} {
			display: none;
		}
		li {
			float: left;
			@include font-size(2, 2);
			font-family: $quicksand;
			@include rems(margin-right, 2);
			&:last-child {
				margin-right: 0;
			}
			a {
				display: block;
				background: #fff;
				text-decoration: none;
				color: $body;
				transition: 0.4s all ease;
			}
			&:hover, &.current-page-ancestor, &.current_page_parent, &.current-menu-item, &.current-product-ancestor, &.current-product_cat-ancestor {
				a {
					color: $dark-blue;
				}
			}
		}
	}
}
.mobile-nav-trigger {
	display: none;
	@media #{$phone} {
		display: block;
		color: #fff;
		background: $dark-blue;
		@include rems(padding, 1, 2);
		font-family: $gotham-book;
		&:before {
			float: right;
			@include icon('\f0c9');
		}
		&.active {
			&:before {
				@include icon('\f00d');
			}
		}
	}
}
.mobile-nav {
	background: #fff;
	display: none;
	li {
		border-bottom: 1px solid #ccc;
		a {
			color: $dark-blue;
			display: block;
			text-decoration: none;
			@include rems(padding, 1, 2, 1, 1.5);
			border-left: 5px solid #fff;
			border-left: 0.5rem solid #fff;
		}
		&:hover, &.current-page-ancestor, &.current_page_parent, &.current-menu-item, &.current-product-ancestor, &.current-product_cat-ancestor {
			a {
				border-left: 5px solid $dark-blue;
				border-left: 0.5rem solid $dark-blue;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
