h1 {
	&.work-title, &.page-title, &.blog-title {
		text-align: center;
		color: #fff;
		font-family: $quicksand-light;
		@include font-size(6, 6);
		text-transform: uppercase;
		@include rems(letter-spacing, 1);
		@include rems(margin-bottom, 4);
		&.alt {
			color: $dark-blue;
		}
		@media #{$phone} {
			@include font-size(3, 3);
		}
	}
	&.blog-title {
		position: relative;
		z-index: 10;
		@include rems(padding-bottom, 1);
		@include rems(margin, 0, 4, 1);
		border-bottom: 1px solid #fff;
	}
}
h2 {
	article & {
		font-family: $gotham-book;
		color: $dark-blue;
		@include font-size(2, 2.6);
		@include rems(margin-bottom, 2);
	}
	&.section-title {
		font-family: $quicksand-light;
		color: $body;
		text-align: center;
		@include font-size(4, 4);
		@include rems(margin-bottom, 4);
	}
	.work-list & {
		@include font-size(2, 2.2);
		font-family: $quicksand;
		text-align: center;
		@media #{$phone} {
			display: none;
		}
	}
}
h3 {
	article & {
		font-family: $gotham-book;
		color: $light-blue;
		@include rems(margin, 1, 0);
		@include font-size(3, 3.6);
	}
}
blockquote {
	@include rems(margin, 2, 0, 2, 4);
	border-left: 2px solid $dark-blue;
	@include rems(padding, 1, 0, 1, 4);
	@include font-size(2, 2.6);
}
ul {
	article & {
		@include rems(margin, 0, 0, 2, 2);
		li {
			@include rems(padding-left, 1.6);
			background: url('images/bullet@2x.png') top left no-repeat;
			background-size: 6px auto;
			background-size: 0.6rem auto;
		}
	}
}
a {
	color: $dark-blue;
	text-decoration: none;
}
