.work-feature {
	@include vertical-grad($dark-blue, $light-blue);
	@include rems(padding, 4, 0, 0);
}
.work-main {
	background: #fff;
	position: relative;
	z-index: 10;
}
.work-more {
	background: #eee;
}
.work-meta {
	@include rems(margin-bottom, 4);
	@include rems(padding-bottom, 4);
	text-align: center;
	border-bottom: 1px solid #ccc;
	span {
		display: inline-block;
		@include rems(margin, 0, 2);
		@media #{$phone} {
			display: block;
			text-align: center;
		}
	}
}
.work-list {
	@include clearfix;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	&.grid {
		li {
			float: left;
			@include rowMachine(4, 2%);
			@media #{$tablet} {
				@include rowMachine(3, 5%);
			}
			@media #{$phone} {
				@include rowMachine(1, 5%);
			}
			img {
				display: block;
				transition: 0.4s all ease;
			}
			a {
				display: block;
				transition: 0.4s all ease;
				border: 2px solid $dark-blue;
				position: relative;
				overflow: hidden;
				h2 {
					position: absolute;
					bottom: 0;
					width: 100%;
					background: $light-blue;
					color: #fff;
					@include rems(padding, 1);
					@include box;
				}
				&:hover {
					@include opacity(0.8);
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	&.full {
		li {
			@include rems(margin-bottom, 3);
			width: 100%;
			display: flex;
			align-items: stretch;
			background: #fff;
			width: 100%;
			aside {
				@include box;
				&.work-thumb {
					width: 25%;
					img {
						display: block;
					}
				}
				&.work-excerpt {
					display: flex;
					align-items: center;
					width: 75%;
					@include rems(padding, 3);
				}
			}
		}
	}
}
.browser {
	background: #eee;
	@include box;
	@include border-radius(5px 5px 0 0);
	overflow: hidden;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	img {
		display: block;
		border-top: 1px solid #ccc;
	}
}
.browser-bar {
	@include clearfix;
	@include rems(padding, 1, 2);
	ul {
		@include clearfix;
		margin: 0;
		li {
			float: left;
			padding: 0;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			@include rems(margin-right, 0.7);
			&:nth-child(1) {
				background: #fc615c;
				border: 1px solid #df4845;
			}
			&:nth-child(2) {
				background: #fdbc40;
				border: 1px solid #dea034;
			}
			&:nth-child(3) {
				background: #33c748;
				border: 1px solid #28ab35;
			}
		}
	}
	.address-bar {
		background: #fff;
		@include border-radius(5px);
		@include rems(padding, 0.5, 2);
		border: 1px solid #ccc;
		@include box;
		@include rems(margin-top, 1);
	}
}
.huge-screen {
	background: $dark-blue;
	&:nth-child(odd) {
		background: $light-blue;
	}
	.browser {
		@include border-radius(5px);
	}
}
